
<ion-view>
  <ion-content animation="slide-right-left-ios7" class='adoptBack' scroll="false">
       <div class = "unMenu2 " id="expandedMenu">
    <a id='backBtnId' class="topBtn" ng-href="#/app/help" animation="slide-right-left-ios7">
     <i class="icon ion-ios7-arrow-left"></i>
    </a>
   </div>
  <div class='aboutPage'>
    <ion-scroll>

<!-- <a class="unMenu2 faqMenu ion-navicon" menu-toggle="right"></a> -->
<br><br><br>



<div class="card thing4">
   <div class="item item-divider">
    What is U Nightlife?
  </div>
  <div class="item item-text-wrap">
    U Nightlife is a mobile-based tech startup obsessed with events. We are pushing the envelope on how students interact with the best event information that has been, but no longer will be, scattered around them.
  </div>
  <div class="item item-divider">
    How are events collected?
  </div>
  <div class="item item-text-wrap">
    Events are collected from every user's social graph, scattered sources around the university area, and "Adding an Event" directly on the mobile app, and, because only verified students can gain access, there's info you won't (and probably shouldn't) find anywhere else.
  </div>
  <div class="item item-divider">
    How do I get new events?
  </div>
  <div class="item item-text-wrap">
    Logging in, or pulling the event feed downwards and refreshing, updates your event list.
  </div>
  <div class="item item-divider">
    Who has access to the app?
  </div>
  <div class="item item-text-wrap">
    College students, verified upon entry to the app via their social graph (Facebook) or .edu email.
  </div>
  <div class="item item-divider">
    How can I spread my own events?
  </div>
  <div class="item item-text-wrap">
    Using our straightforward "Add an Event" feature, you can submit an event for review. The UN team will contact you for further event verification.
  </div>
   <div class="item item-divider">
    Where can I give feedback?
  </div>
  <div class="item item-text-wrap">
    Use the "Email Us" button located on the "Help/Contact Us" section of the app (you can navigate there by tapping the menu in the right hand corner). We definitely want to hear from you, good or bad, so don't hesitate.
  </div>
  <div class="item item-divider">
    What's U Nightlife's privacy policy?
  </div>
  <div class="item item-text-wrap">
    View our privacy policy <a ng-href="#/app/privacy">here.</a>
  </div>

	</div>
</ion-scroll>
</div>

  </ion-content>
</ion-view>
