
<ion-view>
<!-- <ion-header-bar align-title="left" class="bar-positive">
  <div class="buttons">
    <button class="button" ng-click="doSomething()">Left Button</button>
  </div>
  <div class="buttons">
    <button class="button" ng-click="doSomething()">Left Button</button>
  </div>
  <div class="buttons">
    <button class="button">Right Button</button>
  </div>
</ion-header-bar> -->


 <ion-content scroll="false" scrollbar-y="false" class="mesh" animation="slide-right-left-ios7">

 <div class = "unMenu2 ">
  <!-- <button on-swipe-left="onSwipeLeft()" class="button">Test</button> -->
  <!-- <div> ng-show="tinderView == false"-->
  <!-- <a class="tinderBtn ion-images" ng-show="tinderView == false" ng-click="tinderYes()"></a> -->
  <a class="tinderBtn ion-calendar"  ng-click="tinderNo()"></a>
    <!-- <button class="tinderBtn" ng-click="tinderView=!tinderView">Tinder</button> -->
  <!-- <img ng-show="newNot==false" class="profileBtn" ng-click="openPopover($event)">Open</button> -->
  <a class="prof-image ion-person" ng-click=""></a>
  <!-- <a ng-if="newNot!=false" class="prof-image2 ion-person" ng-click="openPopover($event);"></a> -->
  <!-- <a ng-show="newNot2==true" class="prof-image3 ion-person" ng-click="openPopover($event);"></a> -->
  <!-- <button ng-show="newNot==true" class="profileBtn2" ng-click="openPopover($event); newNot=false;">New Notification</button> -->
<!-- </div> --><!-- ion-calendar -->
 <!-- <a class="topMenu2 ion-navicon" menu-toggle="right"></a> -->
<a class="topMenu ion-navicon-round" menu-toggle="right"></a>
</div>
      <!-- </div> -->


  <ion-scroll id="eventList">


  <!-- <hr class="div12"> -->

<!-- data = data.substr(0, 4) + " " + data.substr(4, 6) -->
  <div class="eventScroller" ng-repeat="event in events2" ng-click="" >

    <div class="front">
    <img class="full-image" src="{{event.cover}}">
    <!-- <img ng-hide="event.cover!=undefined" ng-click="go_here(event)" class="full-image" src="http://i62.tinypic.com/2zznq55.jpg" > -->

          <div class="eventInfoSection">
            <!-- watchAction(event); -->
             <!-- <a ng-hide="event.watched" ng-click="$event.stopPropagation();" class="ion-ios7-eye-outline watchBtn"></a> -->
             <a ng-click="" class="ion-ios7-eye watchBtn"></a>
      <h3 id="eventName">{{event.name}}</h3>
     <!--  <p id="eventLocation" ng-if="event.location!=null"><i class="icon ion-cash"></i> {{event.location}}</p>
      <p class="eventDT" ng-if="event.start_time!=null">{{event.start_time}}</p>
       <p class="eventDT" ng-if="event.timeOfEvent!=null">{{event.timeOfEvent}}</p> -->
    </div>
  </div>

</div>


 </ion-scroll>

 <!-- <ion-pane > -->

<!-- <ng-include src="'event-detail.html'" ng-show="singleView == true && tinderView == false"></ng-include> -->



      <!-- <h1 class="profHead">My Profile</h1> -->

<!-- </ion-pane> -->


<!--  -->



   <!-- <div ng-if="friendView == false" class="notifications" ng-repeat="not in userItem.notifications | orderObjectBy:predicate1"> -->
    <!-- <div ng-if="unFriends[0]!='none'" ng-repeat="friend in unFriends"> -->
  <!-- <div ng-if="unFriends.length==0"> -->




 </ion-content>
</ion-view>


