
<!-- <ion-tabs ng-hide="main.tabs=="hide"" class="tabs-item-hide slide-left-right"> -->
<ion-tabs ng-class="{'tabs-item-hide': shouldHide()}" class="slide-right-left-ios7 unMenu2">
<!-- <div class='tabs-item-hide'> -->

  <!-- Dashboard Tab ng-click="shopHere()"-->
  <ion-tab icon-off="ion-ios7-time-outline middleTab" icon-on="ion-ios7-time middleTab" href="#/app/login" >
    <ion-nav-view name="login"></ion-nav-view>
  </ion-tab>


  <!-- Chats Tab -->
  <ion-tab icon-off="ion-ios7-keypad-outline middleTab" icon-on="ion-ios7-keypad middleTab" href="#/app/shop">
    <ion-nav-view name="shop"></ion-nav-view>
  </ion-tab>


   <ion-tab icon-off="ion-ios7-person-outline middleTab2" icon-on="ion-ios7-person middleTab" href="#/app/loginPrompt">
    <ion-nav-view name="loginPrompt"></ion-nav-view>
  </ion-tab>




  <!-- Friends Tab -->
<!--   <ion-tab title="Friends" icon-off="ion-ios7-heart-outline" icon-on="ion-ios7-heart" href="#/tab/friends">
    <ion-nav-view name="tab-friends"></ion-nav-view>
  </ion-tab> -->

<!-- </div> -->
</ion-tabs>
