
<ion-view hide-back-button="false">
     <ion-content scroll="false">

<!--  <a class="topBtn ion-ios7-arrow-left" ng-click="goShop2()">
    </a> -->
 <ion-scroll id='expandedEvent'  scrollbar-y="true">

          <img class="singleImage" src="{{getCover(singleShopWatch.watchPhoto)}}">
          <!-- <img ng-if="singleEvent.cover==true" src="http://i62.tinypic.com/2zznq55.jpg" > -->

    <!--      <p class="watchName">
            {{ singleShopWatch.name }}
          </p>
          <p class="likePrice">
            {{ singleShopWatch.watchLikes.length }}
          </p> -->


              <div ng-init="singleShopWatch.showPrice=false; singleShopWatch.watchLiked=false;" class="watchFeedBtns2">
        <h2 class="watchName">{{singleShopWatch.watchName}}</h2>
        <h2 class="likePrice">{{singleShopWatch.watchLikes.length}} likes/{{singleShopWatch.watchPrice}}</h2>

                <!--   <i ng-click="expandPrice(event)" ng-if="event.showPrice==false" class="icon ion-cash"></i>
                  <i ng-click="expandPrice(event)" ng-if="event.showPrice==true" class="animate-if">
                 10.00
               </i> -->
               <i ng-click="addWish(singleShopWatch);" ng-if="singleShopWatch.watchLiked==false" class="icon ion-ios7-heart-outline"></i>
               <i ng-click="removeWish(singleShopWatch);" ng-if="singleShopWatch.watchLiked==true" class="icon red ion-ios7-heart"></i>
               <i ng-click="loginPrompt();" class="icon ion-ios7-plus-empty"></i>
               <i ng-click="shareBtn('Check out this watch I found via Dimepiece: http://unightlife.io/app. What do you think?', 'Check This Dimepiece.',singleShopWatch.watchPhoto, null);" class="icon ion-ios7-upload-outline"></i>

              </div>

                 <div ng-click="expandEvent()" ng-if="singleShopWatch.description!=null" class="item-text-wrap">
                <div class="item item-icon-left item-divider">
                  <i class="icon ion-clipboard"></i>
                  Watch Info
                </div>
                <br>
                <div id="eventDiv2" ng-show="showEventDesc" class="item animate-if">
                 {{ singleShopWatch.description}}
               </div>
              </div>

              <!-- <div class = " "> -->
                <a class="button unMenu33 icon-right ion-ios7-arrow-right" ng-click="goAmazon(singleShopWatch.watchLink)">{{singleShopWatch.watchPrice}} on Amazon Prime</a>
                <!-- <div class="ion-ios7-arrow-right">{{singleShowWatch.watchPrice}} on Amazon Prime -->
                  <!-- <div  class="ion-ios7-arrow-right priceArrow"></div> -->

                <!-- </div> -->
                <!-- </div> -->


            <!--   <div ng-if="singleEvent.timeOfEvent!=null" class="item item-icon-left item-divider">
                <i class="icon ion-ios7-alarm-outline"></i>
                {{ singleEvent.timeOfEvent }}
              </div> -->
              <!-- <br ng-if="singleEvent.timeOfEvent!=null"> -->



            <!--  <div ng-if="singleEvent.start_time!=null" ng-click="calAdd()" class="item item-icon-left item-divider">
                <i class="icon ion-ios7-calendar-outline"></i>
                {{ singleEvent.start_time }}</div>
                <br>

                 <div ng-if="singleEvent.ticketLink!=null" ng-click="goTicket()" class="item item-icon-left item-divider">
                <i class="icon ion-ios7-barcode"></i>
                Tickets
              </div> -->
              <!-- <br ng-if="singleEvent.ticketLink!=null"> -->


            <!-- <div ng-if="singleEvent.location!=null" ng-click="mapThis()" class="item item-icon-left item-divider">
                <i class="icon ion-ios7-location"></i>
                {{ singleEvent.location }}
              </div>

                <br ng-if="singleEvent.location!=null">

              <div ng-click="watchAction(singleEvent)" class="item item-icon-left item-divider" >
                <div ng-if="singleEvent.watched!=true"><i class="icon ion-ios7-eye-outline"></i>Watch Event</div>
                <div ng-if="singleEvent.watched==true"><i class="icon ion-ios7-eye"></i>You're Watching</div>
              </div> -->
                <!-- <br> -->


</ion-scroll>



 </ion-content>



</ion-view>
